<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.caseyjbrooks.scripturenow.appwidgets">

    <application>
        <receiver
                android:name=".votd.VerseOfTheDayWidgetReceiver"
                android:enabled="@bool/glance_appwidget_available"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/votd_widget" />
        </receiver>

        <receiver
                android:name=".memory.MemoryVerseWidgetReceiver"
                android:enabled="@bool/glance_appwidget_available"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/memory_verse_widget" />
        </receiver>
    </application>
</manifest>
