<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.caseyjbrooks.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.App.Starting"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            tools:targetApi="n">
        <activity
                android:name="com.caseyjbrooks.app.MainActivity"
                android:exported="true"
                android:theme="@style/Theme.App.Starting"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="scripture"
                      android:host="now" />
            </intent-filter>
        </activity>
    </application>

</manifest>
